h1 {
    color: red;
    text-align: center;
    font-style: italic;
}

body {
    background-color: lightyellow;
  }

p {
    color: green;
}

th {
    color: brown;
    text-align: center;
    border: 2px dotted black;
}

td {
    color: orange;
    text-align: center;
    border: 2px dotted black;
}

li {
    color: blue;
}

table.center {
    margin-left:auto;
    margin-right:auto;
  }

  xmp {

      background-color: lightgreen;
  }

  xmp:hover {

      background-color: darkorange;
  }

  a:hover {
      color: red;
      font-size: 150%;
    }

    li::selection {
        color: red;
        background-color: black;
      }

      p::selection {
          color: red;
          background-color: black;
        }

  #fl  {
  float: right;
   margin: 0 0 0 15px;
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  @media print {
    .screen-only {
        display: none;
    }
  }
